// out: ../css/main.css
// main: main.less

// http://www.cssportal.com/css3-shapes/
// https://blog.udemy.com/css3-circles/

.container {
  width: 100%;
  height: 15%;
  text-align:center;
  font-size: 2.3em;
  background-color: #b5fdd9;
  .head-photo-container {
    padding: 2%;
    background-image: url("../icons/banner5.png")
  }
}

.head-photo-container {
  cursor: pointer;
  font-family: "Amatic SC";
  font-size: 2.7em;
  text-shadow: 2px 0 0 #fff, 0 -2px 0 #fff, 0 2px 0 #fff, -2px 0 0 #fff;
}

audio {
  display:none;
}

.rowcontainer{
  position:absolute;
  display:inline-block;
  width: 100%;
  height: 100%;
  background:#A5A5A5;
  background-image: url("../icons/bg2.png");
  overflow:hidden;

  //   background-color: grey; #808000  #800080  #8c9c74  #24262c  #40232d  #cc4c1d #6c2d26 #412f32  #96361f #4a302f #79ab79 #d7d1ab #80CC80 #4d5f4f #6d4a3b
}

.circle {
  display:inline-block;
  // margin-left: %;
  padding: 1%;
  border-radius: 100%;
  background-color:rgba(0,0,0,0.3);
  width:6.7%;
  height:12%;
  transition: all 0.3s ease 0s;
}

.berry {
    &:hover {
      background-image: url("../icons/berry.png");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-color:#FFCCFF;
      &~.kiwi {
      background-color:#FF0033;
    }
  }
}
.melon{
    &:hover {
      background-image: url("../icons/melon.png");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-color:#cdfca1;
        &~.berry {
        background-color:#00FFCC;
      }
    }
}
.kiwi{
  &:hover{
    background-color: #d4fe85;
    background-image: url("../icons/kiwi.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
      &~.lemon {
      background-color:#CC00FF;
    }
  }
}
.lemon
{
  &:hover {
    background-image: url("../icons/lemon.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color:#FFFF99;
      &~.melon {
      background-color:#FF3300;
    }
  }
}
.bomb{
  &:hover{
    background-image: url("../icons/bomb.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fca3a1;
      &~.kiwi {
      background-color:#CCCCFF;
    }
      &~.melon {
      background-color:#99FFCC;
    }
      &~.lemon {
      background-color:#9966FF;
    }
      &~.berry {
      background-color:#FFCCFF;
    }
  }
}

.error1,
.error2 {
  position: fixed;
  z-index: 100;
  display: none;
}

.error1 {
  background-image: url("http://www.techf5.com/pic/windows-error-popup-box.png");
  width: 407px;
  height: 270px;
  top: 10%;
  left: 20%;
  .okay1 {
    background-color:rgba(0,0,0,0.1);
    width: 102px;
    height: 21px;
    margin-left: 217px;
    margin-top: 243px;
    cursor: pointer;
  }
  .notokay {
    background-color:rgba(0,0,0,0.1);
    width: 75px;
    height: 21px;
    margin-left: 327px;
    margin-top: -20px;
    cursor: no-drop;
  }
}

.error2 {
  background-image: url("http://www.tothepc.com/pic/fake-funny-message-boxes-windows.png");
  width: 359px;
  height: 124px;
  top: 40%;
  left: 60%;
  cursor: pointer;
}

.death {
  position: absolute;
  background-image: url("http://www.driverentry.com.br/images/UselessBSOD.png");
  width: 100%;
  height: 1024px;
  z-index:100;
  display:none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

// this is specifically for fixing collapsed elements due to float
.force(){

  &:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

// fixes box model to include border and padding in overall width calculation
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
